@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600;700;800&family=Rubik+Vinyl&display=swap');


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

body {
  background: #cc8fa6;
  padding: 3rem;
  font-family: 'Noto Sans Display', sans-serif;
}

/* makes all images responsive */
img {
  max-width: 100%;
  height: auto;
}

p:last-of-type {
  margin-bottom: 2em;
}

.first-section {
  border: 4px solid black;
  padding: 3rem;
}


.strong {
  font-weight: 100;
  color: lightblue;
}

.button {
  width: 20em;
  width: 10em;
  border: 1px solid blueviolet;
  padding: 1em;
  border-radius: 1em;
  background: white;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

.resume-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-objective-header {
  font-size: 1.7em;
  width: 80%;
  text-align: center;
  font-weight: 500;
}

.job-objective {
  font-size: 1.2em;
  width: 90%;
  text-align: center;
  font-weight: 100;
}

.resume {
  /* justify-content: center; */
  width: 92%;
border: 5px solid hotpink;
  /* align-items: flex-end; */
  margin: 0 auto;
}

.resume-details {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 5em;
  color: #3b4144;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-start;
  align-items: flex-start;
  align-self: center; */
  /* column-gap: 6em; */
  width: 100%;
  margin: 0 auto;
  border: 2px solid yellow;
}

.work-experience, .education-training, .volunteer-experience, .awards-recognitions {
  width: 50%;
      background: white; 
       border: 1px solid wheat;
    }


.sub-heading {
  line-height: 2.5em;
}

.place,
.date,
.title {
  line-height: 1em;
}



.description {
  line-height: 2em;
}

.link {
  color: #35845d;
}

/* desktop styles */
@media (min-width: 1024px) {




/* 
  .work-experience {
    order: 1;
  }
  
  .education-training {
    order: 3;
  }
  
  .volunteer-experience {
    order: 2;
  }
  
  .awards-recognitions {
    order: 4;
  } */


  .resume-details {
    width: 100%;
  }
}